spring:
  application:
    name: sum-calculator-service
  datasource:
    url: jdbc:postgresql://localhost:5432/microservices
    username: db_user
    password: db_password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: ${PORT:${SERVER_PORT:0}}

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      default-zone: http://localhost:8761/eureka
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}

resilience4j:
  retry:
    instances:
      percentageService:
        maxRetryAttempts: 3
        waitDuration: 1000
  circuitbreaker:
    instances:
      percentageService:
        registerHealthIndicator: true
        failureRateThreshold: 50
        waitDurationInOpenState: 10000
